In [1]:
# Exploração dos Dados
import pandas as pd

# abrir a base de dados
df = pd.read_csv("vgsales new.csv")

# imprimir as primeiras linhas da base de dados
print(df.head())

   Rank             Name Platform    Year     Genre   Publisher  NA_Sales  \
0   259        Asteroids     2600  1980.0   Shooter       Atari      4.00
1   545  Missile Command     2600  1980.0   Shooter       Atari      2.56
2  1768          Kaboom!     2600  1980.0      Misc  Activision      1.07
3  1971         Defender     2600  1980.0      Misc       Atari      0.99
4  2671           Boxing     2600  1980.0  Fighting  Activision      0.72

   EU_Sales  JP_Sales  Other_Sales  Global_Sales
0      0.26       0.0         0.05          4.31
1      0.17       0.0         0.03          2.76
2      0.07       0.0         0.01          1.15
3      0.05       0.0         0.01          1.05
4      0.04       0.0         0.01          0.77

In [2]:
# imprimir as colunas da base de dados
print("\nColunas da base de dados:")
print(df.columns.tolist())

Colunas da base de dados:
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

In [3]:
# imprimir tipos de dados das colunas
print("\n Tipos de dados das colunas:")
print(df.dtypes)

 Tipos de dados das colunas:
Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [4]:
# verificar dimensões da base de dados
print("\nDimensões da base de dados:")
print(df.shape)

Dimensões da base de dados:
(16598, 11)

In [5]:
# resumo das informações
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [6]:
# verificar valores nulos
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [7]:
# verificar valores duplicados
df.duplicated().sum()

0

In [8]:
# verificar as plataformas existentes
df['Platform'].unique()

array(['2600', 'NES', 'PC', 'DS', 'GB', 'SNES', 'GEN', 'GG', 'SCD', 'NG',
       'PS', 'SAT', '3DO', 'TG16', 'N64', 'PCFX', 'DC', 'WS', 'PS2', 'XB',
       'GBA', 'GC', 'PSP', 'X360', 'Wii', 'PS3', '3DS', 'PSV', 'WiiU',
       'PS4', 'XOne'], dtype=object)

In [9]:
# verificar os gêneros existentes
df['Genre'].unique()

array(['Shooter', 'Misc', 'Fighting', 'Sports', 'Action', 'Platform',
       'Puzzle', 'Racing', 'Simulation', 'Adventure', 'Role-Playing',
       'Strategy'], dtype=object)

In [10]:
# contar os títulos por publisher
df['Publisher'].value_counts()

Publisher
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Grand Prix Games                   1
Ertain                             1
T&E Soft                           1
Monte Christo Multimedia           1
Sears                              1
Name: count, Length: 578, dtype: int64

In [11]:
# verificar as publishers presentes no DataFrame

# obter os valores únicos
valores_unicos = df['Publisher'].unique()

# converter o array de valores únicos para um novo DataFrame
df_valores_unicos = pd.DataFrame(valores_unicos, columns=['Publisher'])

# exportar o novo DF para um arquivo Excel
df_valores_unicos.to_excel('valores_unicos_coluna.xlsx', index=False)